# Visual Studio Code
.vscode/
.editorconfig

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2019 cache/options
.vs/

# Visual Studio 2017 cache/options
.vs/

# Rider
.idea/

# Mac
.DS_Store

# Local App Settings
appsettings.local.json
secrets.json

# Test files
*.testsettings

# Coverlet
coverage.json
coverage.cobertura.xml

# Packages
**/packages/*
!**/packages/build/

# Roslyn
*.ruleset

# Added by JetBrains
*.DotSettings.user

# Build server
_ReSharper*
*.resharper
**/[Tt]est[Rr]esult*
**/[Bb]uild[Ll]og.*

# mstest
[Tt]est[Rr]esults/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Environment files
.env
*.env

# Ignores files based on the file extension
*.db
*.pfx
*.pyc
*.pyo
*.swp

# Folders to ignore
**/node_modules
**/typings
**/wwwroot/dist
**/wwwroot/lib

# Cache files
[Cc]ache/
*.bak
*.ncb
*.pdb
*.tmp

# Ignore output directory
**/[Oo]utput/
**/[Oo]ut/
**/[Dd]rop/

# Ignore .NET tools
.store/
tools/
